.background {
    display: flex;

    @media #{$screen-tablet}{
        column-gap: rem(32px);
    }

    &__sidebar {
        display: none;
        left: 0;
        top: 0;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba(20, 20, 44, 0.6);
        backdrop-filter: blur(5px);
        z-index: 98;

        &--active{
            display: block;

            @media #{$screen-desktop}{
                display: none;
            }
        }            
    }
}
