.container {
    width: 100%;
    max-width: rem($weight-container + 2 * $gap-container); 
    margin-right: auto; //центрируем
    margin-left: auto; //центрируем
    padding-left: rem($gap-container); 
    padding-right: rem($gap-container); 
} 
